:root {
  --container-width: 1200px;
  --header-background: #ECF1F2;
  --mt-3: 10rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;



}

/* body {
  height: 100000px;
} */

/*start header*/
header {
  background: var(--header-background);
  position: relative;

}

/*end header*/
/*start container*/
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

nav {
  position: relative;
}

/*logo*/
.logo {
  margin-right: 1.5rem;
}

/*end container*/
/*start nav*/
nav ul>*,
nav ul>* a,
.started button a {
  list-style-type: none;
  text-decoration: none;
  color: #0E1133;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.8rem;
}

nav {
  padding-top: 1.5rem;
  /* line-heighT: 1.5rem; */
  display: flex;
  align-items: center;

}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {

  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-align: center;
  padding: 0.8rem;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}


nav ul li a:hover {
  background: #FF3E66;
  color: #fff;
}

nav ul li.logo a:hover {
  background: 0 !important;
}

.started {
  margin-left: auto;
}

.started button {
  padding: 0.8rem 1.3rem;
  border-radius: 500px;
  background: #FF3E66;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border: 0;

}

.menu_bars {
  position: absolute;
  right: -5rem;
  display: none;
}

.started button a {
  color: #fff;
}

.started button:hover {
  background: transparent;
}

.started button:hover .started a {
  color: #000 !important;

}

/*nav responsive*/
@media(max-width:1100px) {
  nav ul li a {
    margin-righT: 0;
  }
}

@media(max-width:768px) {
  ul li {
    display: none;

  }


  /* ul button {
    right: 3rem;

  } */

  ul li.logo {
    display: inline-block;
  }

  .menu_bars {
    position: absolute;
    right: 0.4rem;

    display: inline;


  }

  .started {
    margin-right: 3rem;
  }

  nav ul li a {
    margin-right: 0;

  }
}

/*start ready*/
.ready {
  margin-top: var(--mt-3);
  display: grid;
  grid-template-columns: repeat(2, 2fr 1fr);
  /* padding: 0 0 10rem 0; */

}

.hero {
  widtH: 100%;

}


.info+img {
  width: 50%;
  position: absolute;
  righT: 0;
  bottom: 0;
}



.info img {
  /* margin-top: 30px; */
  width: 13%;
}

/*ready*/
.ready h1 {
  text-transform: capitalize;
  font-size: 3rem;
  width: 400px;
  font-weight: lighter;
  color: #0E1133;
  margin-bottom: 2rem;
}

.ready h1 span {
  font-weight: bold;
}

.info input {
  width: 90%;
  padding: 1.3rem 2.5rem;
  border: 0;
  outline: 0;
  border-radius: 1.5rem;
  border-left: 2px solid #FF3E66;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  box-shadow: 2px 2px #DBDEE5;
}

.subscribe {
  /* position: relative; */
  display: flex;
  margin-top: 2rem;
}

.subscribe input[placeholder] {
  font-size: 0.9rem;

}

.subscribe input::after {
  content: "";
  widtH: 100%;
  heighT: 100%;
}

.fa-envelope {
  /* position: absolute; */
  /* lefT: 0.5rem;
  bottom: 1rem; */
  color: #bcc8d2;
  align-self: center;
  position: relative;
  left: 2rem;

}

.subscribe .fa-arrow-right {
  /* position: absolute; */
  /* left: 2rem;
  bottom: 1rem; */
  align-self: center;
  position: relative;
  right: 1.5rem;
  color: #FF3E66;
}

.persons {
  display: flex;
}

.persons img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 4px solid #fff;

  margin-right: -5%;
}

.persons_feedback {
  align-self: center;
  margin-left: 2rem;
}

.persons_feedback h3 {
  color: #0E1133;
  font-size: 1.5rem;
}

.persons_feedback p {
  font-size: 0.8rem;
  font-weight: lighter;
  color: #505056;
  justify-content: center;
}


@media(max-width:1350px) {
  .ready .info input {
    widtH: 60%;
  }

  .info+img {
    position: absolute;
    width: 25%;
    right: 0;
  }



  .ready h1 {
    margin-left: 1.5rem;
    widtH: 90vw !important;
  }

  .persons_feedback {
    margin-left: 4rem !important;
  }

  .persons img {
    widtH: 8%;
  }

  /* .info p {
    margin-left: 2rem;
  } */


}

@media(max-width:991px) {
  .info {
    grid-column: 1 / span 1;
  }

  .ready h1 {
    margin-left: 1.5rem;
    widtH: 90vw !important;
  }

  .persons_feedback {
    margin-left: 3rem !important;
  }

  .persons img {
    widtH: 10%;
  }

  .info+img {
    width: 30%;
  }
}

@media(max-width:768px) {
  .ready {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1rem;
  }



  .ready h1 {
    font-size: 2rem;
    margin-lefT: 0;
  }

  .info input {
    widtH: 100%;
    margin-left: 0;
  }

  .subscribe {
    margin-left: -26px;
  }


  .info+img {
    position: absolute;
    width: 35%;
    right: 0;
  }

  .persons img {
    widtH: 10%;
  }
}



@media(max-width:500px) {
  .hero img {
    width: 150px;
  }

}

/*start how*/
.how {
  display: flex;
  padding: 5rem;
  justify-content: center;
  align-items: center;
}

.features {
  margin-left: auto;
}

.features a {
  text-decoration: none;
  color: #000;
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: inline-block;
}

.how h1 {
  margin-bottom: 1.5rem;
}

.fast {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;


}

.part {
  bordeR: 2px solid #ccc;
  width: 30%;
  padding: 1rem 2rem 0;
  line-height: 1.3;
}

.part a {
  text-decoration: none;
  color: #000;
}

.part i {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 1rem;
  margin-bottom: 2rem;
  color: #fff;
}

.part .fa-arrow-right {
  color: #DBDEE5;
}

.part .fa-bolt {
  background-color: #2FACFC;
}

.part .fa-house {
  background: #EA4D89;
}

.part .fa-link {
  background: #3679FF;
}

.part .fa-bell {
  background: #F67842;
}

.part .fa-gear {
  background: #6B88F7;
}

.part .fa-lock {
  background: #3BB094;
}

@media(max-width:850px) {

  .fast,
  .how {
    flex-direction: column;
    text-align: center;
  }

  .features {
    margin-left: 0;
    text-align: center;
  }

  .part {
    widtH: 90%;
    line-height: 2rem;
    margin: auto;
  }

  .features a {
    margin-top: 2rem
  }
}

.marketing {
  margin-top: 3rem;
  background: #F0F1F7;
  display: flex;


}

.marketing .text {
  align-self: center;
}

.marketing .photo {
  /* widtH: 100%; */
  overflow: hidden !important;



}

.marketing .photo img {
  width: 100%;
}

.col-info {
  display: flex;
}

.col {
  widtH: 45%;
  margin-right: auto;
}



.text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #0F1234;
}

.text p:first-child {
  color: #919298;
  font-size: 0.8rem;
  color: #EA4D89;
  text-transform: capitalize;
}

/*start text*/
.text p {
  line-height: 2rem;
  color: #919298;
  margin-bottom: 2rem;
}

.text h3 {

  color: #323452;
}

.col {
  display: flex;
  justify-content: center;

}

.col i {
  background: #32C36A;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
  font-size: 2rem;
}

.col .icon {
  margin-right: 1.2rem;
}

@media(max-width:768px) {
  .marketing .photo {
    display: none;
  }

  .marketing {
    text-align: center;
  }

  .marketing h2 {
    font-size: 2rem;
    width: 100%;
  }

  .col-info {
    flex-direction: column;

  }

  .col {
    widtH: 100%;
    text-align: left;
  }
}

/*start where*/
.where {
  margin-top: 10rem;
  height: 1000px;
  background: #0E1133;
  overflow: hidden;
}

.where-content {
  display: flex;
  flex-direction: column;
}



.intro {
  margin-top: 5rem;
  text-align: center;
  color: #fff;
  line-height: 4rem;
}

.intro h2 {
  font-size: 3rem;
  widtH: 40%;
  margin: auto;
}

.where-container {
  width: 80%;
  margin: 0 auto;
}

.where-text h2,
.where-text p {
  color: #fff;
}

.where-data {
  display: flex;
  /* justify-content: center; */
  width: 60%;
  margin-bottom: 1rem;
  border: 2px solid #1B1D33;
  padding: 3rem 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  line-height: 2rem;
  text-transform: capitalize;
  padding-left: 1rem;
}

.where-info {
  display: flex;
  position: relative;
}

.sign {
  margin-right: 1rem;
}

.sign i {
  background-color: #B43051;
  color: #B43051;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-shadow: 2px 3px 5px #B43051;
  margin-right: 0.5rem;

}

.sign.second i {
  background: #2EACFC !important;
  color: #15233D;
  text-shadow: 2px 3px 5px #15233D;
  font-size: 20px;

}

.sign.third i {
  background: #33C956;
  color: #33C956;
}



.where-photo {
  margin-right: auto;
  position: absolute;
  right: 0;
}


@media(max-width:1100px) {
  .where {
    position: relative;
  }

  .where-info {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
  }





  .where-photo {
    widtH: 80%;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    margin-bottom: -15rem !important;

  }


  .where-photo img {
    widtH: 80%;
    /* position: absolute;
    top: 0;  */

  }

  .where-data {
    widtH: 100%;
    justify-content: center;
    align-items: center;
  }

  .where {
    margin-top: 10rem;
    height: 1500px;
    background: #0E1133;
    /* overflow: hidden; */
  }
}

@media(max-width:768px) {
  .where-photo {
    widtH: 100%;
    margin-bottom: -15rem !important;
  }

  .where-photo img {
    widtH: 100%;
  }
}

/* @media(max-width:500px) {
  .where-photo img {
    margin-bottom: -4em;
  }
} */

/*end where*/

/*start how*/
.work {
  heighT: 600px;
  background: #fff;
  padding: 4rem;
}

.work-heading h2 {
  color: #0E1133;
  font-size: 3rem;
}

.work-heading p {
  color: #50506C;
}

.how-content {
  heighT: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: #0F1234;
}

.how-sector {
  background: #fff;
  text-align: center;
  padding: 2rem;
  box-shadow: 2px 4px 5px #EBF1EB;
  widtH: 100%;
}

@media(max-width:991px) {
  .how-content {
    heighT: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #0F1234;
  }
}

@media(max-width:768px) {
  .work {
    heighT: 630px
  }

  .work-heading {
    margin-bottom: 20rem;
  }

  .how-content {
    flex-direction: column;
  }

  .work-heading h2 {
    font-size: 2rem;
  }



}



/*start video*/
.video {
  /* background: #32C36A; */
  height: 600px;
}

.video-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

}

/* .video-content .second-img {
  heighT: 600px;
} */

.video-img {
  position: relative;
}

.video-img i {
  position: absolute;
  font-size: 1.5rem;
  left: 40%;
  top: 40%;
  /* border: 4px solid #fff; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  padding: 2rem 2.5rem;
  color: #FF3E66;
}

.video .video-info {
  margin-top: 3rem;
}





.video-info {
  display: flex;
  line-height: 2rem;
}



.arrows {
  widtH: 12%;
  margin-left: auto;

}

.arrows i {
  font-size: 1.2rem;
  border: 3px solid #E4E6E9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 0.7rem 0.8rem;
  color: #B4B4B6;
}

.video-text a {
  border: 0;
  text-decoration: none;
  text-transform: capitalize;
  color: #1C2E55;
  border: 1px solid #B4B4B6;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: inline-block;
}

/*video responsive*/



@media(max-width:1200px) {
  .arrows {
    display: none;
  }

  .video {
    margin-top: 35rem;
    text-align: center;
    position: relative;

  }

  .video-content {
    grid-template-columns: 1fr;
    width: 100%;
  }



  .video-content img {
    width: 100%;
  }

  .video-content .second-img {
    /* margin-bottom: 20rem; */
    margin-top: 25rem;
    width: 100%;
    heighT: 265px;
  }

  .video-text {
    widtH: 100%;
    text-align: left;
    position: absolute;
    top: 35%;
    text-align: center;

  }

  .video-text h2 {
    margin-top: 40%;
  }

  .video-text p {
    widtH: 100%;
    font-size: 0.9rem;
    font-weight: 500;

  }


}

@media(min-width:760px) and (max-width:1199px) {
  .video {
    margin-top: 0;
  }
}

@media(max-width:750px) {
  .video {
    height: 800px;
  }
}

@media(max-width:400px) {
  .video-text {
    widtH: 100%;
    text-align: left;
    position: absolute;
    top: 13%;
    text-align: center;

  }
}

/*start download*/
.download {

  background-color: #EEF1F6;
  height: 600px;
  padding-top: 10%;
}

.download h2 {
  font-size: 3rem;
  widtH: 35%;
}

.download p:first-child {
  color: #EA4D89;
  margin-left: 2rem;
}

.second-para {
  width: 40%;
}

.download a {
  text-decoration: none;
  font-size: 1rem;
  color: #0E1133;
  width: 50%;
  color: #fff;
  margin: 0.5rem;


}

.download-links {
  margin-top: 2rem;
  display: inline-block;
  bordeR: 1px solid #0E1133;
  padding: 0rem 3rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: #0E1133;
  color: #fff;
}

.download i {
  font-size: 1.5rem;
}

.download-links h2 {
  font-size: 20px;
  margin-left: 2rem;
}

.download-text {
  margin-top: 1.5rem;
}

.download-links.second,
.download-links.second a {
  background: #fff;
  color: #0E1133;
}

@media (min-width:769px) and (max-width:1200px) {
  .download {
    margin-top: 35rem;
    padding-top: 40%;
    height: 800px;
  }

  .download-heading .second-para,
  .download h2 {
    margin-left: 2rem;
    widtH: 80%;
  }

  .download-links {
    margin-left: 0.8rem;
    transform: translate(10%, 50%);
    -webkit-transform: translate(10%, 50%);
    -moz-transform: translate(10%, 50%);
    -ms-transform: translate(10%, 50%);
    -o-transform: translate(10%, 50%);
  }
}

@media(min-width:501px) and (max-width:768px) {
  .download {
    margin-top: 17rem;
    padding-top: 30%;
  }

  .download-heading .second-para,
  .download h2 {
    margin-left: 2rem;
    widtH: 80%;
  }

  .download-links {
    margin-left: 0.5rem;
    transform: translate(10%, 50%);
    -webkit-transform: translate(10%, 50%);
    -moz-transform: translate(10%, 50%);
    -ms-transform: translate(10%, 50%);
    -o-transform: translate(10%, 50%);
  }
}

@media(max-width:500px) {
  .download {
    margin-top: 20rem;
    padding-top: 10%;
    heighT: 650px;
  }

  .download-heading .second-para,
  .download h2 {
    margin-left: 2rem;
    widtH: 80%;
  }

  .download-links {
    margin-left: 0.8rem;
    transform: translate(10%, 50%);
    -webkit-transform: translate(10%, 50%);
    -moz-transform: translate(10%, 50%);
    -ms-transform: translate(10%, 50%);
    -o-transform: translate(10%, 50%);
  }
}

@media(max-width:400px) {
  .download {
    margin-top: 15rem;
    padding-top: 5%;
    height: 700px;
  }
}

/*start pricing*/
.pricing {
  padding: 2rem;
  heighT: 800px;
}

.selector {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid #ccc;
  widtH: 14%;
  padding: 0.5rem 0rem;
  margin: 2rem auto;
  line-height: 1rem;
}

.selector a {
  /*text-align: center;
  */
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  transition: 1s all;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
  padding: 0.5rem 0.9rem;
}

.selector a:hover {
  border-radius: 50px;
  background-color: #EA4D89;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  /* padding: 0 0.5rem; */
  color: #fff;
}

/* .selector a:first-child {
  margin-left: 10px;
} */


.table {
  heighT: 600px;
  display: flex;
  gap: 2rem;
}

.table-part {
  padding: 3rem;
  line-height: 3rem;
  border: 1px solid #0E0E0E;
  widtH: 35%;

}

.table-part a {
  border: 0;
  text-decoration: none;
  text-transform: capitalize;
  color: #1C2E55;
  border-radius: 2rem;
  padding: 0rem 2.5rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: inline-block;
  border: 1px solid #ccc;
}

.table-part:nth-child(2) {
  position: relative;
  box-shadow: 0rem 3rem 3rem #ccc;
  heighT: 500px;
  border-top: 1px solid #FF3E66;
}

.table-part p {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.table-part:nth-child(2) a:first-child {
  position: absolute;
  right: 0;
  top: 0rem;
  text-align: right;
  border-radius: 3px;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;

  border: 1px solid #ccc;
  widtH: 32%;
  padding: 0.5rem 0rem;
  margin: 2rem auto;
  line-height: 1rem;
  border-left: 1px solid #2C6FF4;
  border-top: 1px solid #2C6FF4;
  border-bottom: 1px solid #2C6FF4;
  background: #2C6FF4;
  color: #fff;
  border-right: 0;
  text-align: center;
}

.table-part .second {
  background-color: #FF3E66;
  color: #fff;
}

@media(max-widtH:1300px) {
  .selector {
    widtH: 20%;
    text-align: center;
  }
}

@media(max-widtH:991px) {
  .table {
    flex-direction: column;
  }

  .table-part {
    widtH: 100%;
  }

  .selector {
    widtH: 40%;
    text-align: center;
  }
}

@media(max-width:400px) {
  .selector {
    widtH: 70%;
  }
}

.review {
  height: 300px;
  background-color: #2B6FF4;

}

.review-content {
  display: flex;
  justify-content: center;
  align-items: center;
  heighT: 300px;
  gap: 5%;
  font-size: 1.3rem;
  color: #fff;
}

.review .arrows {
  margin-top: 10rem;
}

.review .text {
  widtH: 50%;

}

.icon {
  text-align: center;
}

.icon p {
  font-size: 0.8rem;
}

.person img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.review .text p {
  font-sizE: 1.2rem;
  color: #fff;
  line-heighT: 1.5rem;
}

.review .text h3 {
  margin-top: 2rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #fff;
}

@media(max-width:1220px) {
  .review .arrows {
    margin-left: 0;
  }
}

@media(max-width:1000px) {


  .review {
    margin-top: 60rem;
  }
}

.sponsors {
  position: relative;
  height: 600px;
  text-align: center;

}

.sponsor-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}



.compaines img {
  border: 1px solid #fff;
  padding: 0.8rem;
  box-shadow: 2rem 0rem 2rem #ccc;
  margin: 2rem;
}

@media(max-width:991px) {
  .sponsors {
    margin: 10rem 0;
  }
}

@media(min-width:501px) and (max-widtH:768px) {
  .sponsors {
    margin: 15rem 0;
  }
}

@media(max-widtH:500px) {
  .sponsors {
    margin: 30rem 0;
  }
}

footer {
  padding: 2.5rem;
  background: #EEF1E1;
  heighT: 600px;
}

.footer-content {
  display: flex;
  gap: 5rem;
  padding: 5rem 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
}

.footer-content a {
  text-decoration: none;
  color: #0E1133;
  padding-righT: 2px;
}

.contact {
  margin-left: auto;
}

.footer-intro {
  widtH: 30%;
  line-height: 1.8rem;
}

.footer-intro .icons {
  font-size: 1.5rem;
  margin-top: 1.5rem;

}

.footer-intro .icons i {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 0.5rem;
  margin-righT: 0.5rem;
}

.company,
.support,
.contact {
  line-heighT: 2.5rem;
}

.end {
  display: flex;
  gap: 8rem;

}

.end a {
  text-decoration: none;
  color: #0E1133;
  border: 1px solid #E4E6E9;
  padding: 0.8rem 1.3rem;
}

.end a i {
  margin: 0 0.8rem 0 0;
}

.copy {
  margin-left: auto;
}

.end .ios a {
  background: #fff;
}

@media(max-width:1100px) {

  .end,
  .footer-content {
    flex-direction: column;
    widtH: 100%;
  }

  .footer-intro {
    widtH: 100%;
  }

  .company,
  .support,
  .contact {
    widtH: 100%;
  }

  .copy {
    margin-left: 0;
  }

  footer {
    heighT: 100%;
  }

  .ios,
  .android {
    width: 100%;
  }

  .copy {
    widtH: 100%;
  }
}